<app-toolbar *ngIf="!lists" title="LAZY PICKER"></app-toolbar>
<app-toolbar *ngIf="lists" title="Foods"></app-toolbar>

<div *ngIf="!lists">
  <div class="paragraph">
    <p>Parrafo introductorio</p>
  </div>

  <div style="width: 100%; justify-content: center; align-items: center;">
    <div class="buttons-container">
      <div style="width:70%; display: flex; flex-direction: column; align-items: center;">
        <app-menu-buttons url="restaurant.png" label="FOOD" class="green" (click)="navigateToFoodList()">
        </app-menu-buttons>
        <app-menu-buttons url="expectation.png" label="ACTIVITIES" class="yellow"></app-menu-buttons>
      </div>
      <div style="width:70%; display: flex; flex-direction: column; align-items: center;">
        <app-menu-buttons url="board-game.png" label="GAMING" class="red"></app-menu-buttons>
        <app-menu-buttons url="more.png" label="OTHERS" class="blue"></app-menu-buttons>
      </div>
    </div>
  </div>
</div>

<div *ngIf="foodList && !modal" class="list-container">
  <ul>
    <li *ngFor="let food of foods">
      {{food}}
    </li>
  </ul>
  <input type="text" placeholder="Agregame comidita" [(ngModel)]="newFood" (click)="addNewFood()">
  <!--

    <div (click)="addNewFood()" style="background-color: aqua">add</div>
  -->
  <button (click)=" getRandom()">
    RANDOMIZE
  </button>
</div>
<div *ngIf="modal == true">
  <div [ngClass]="!modal ? 'hidden-overlay' : 'overlay'">
    <div class="modal">
      <div style="width: 85%; display: flex; justify-content: end; align-items: center; padding: 20px;">
        <button (click)="backHome()">
          X
        </button>
      </div>
      <div style="height: 100%; width: 100%; display: flex; justify-content: center; align-items: center;">
        <p>
          {{this.foods[this.random]}}
        </p>
      </div>
    </div>
  </div>
</div>

<footer *ngIf="lists">
  <button (click)="backHome()">
    <img src="../assets/back-button.png" alt="">
  </button>
</footer>